certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.4
commonmark==0.9.1
dnacentersdk==2.5.6
fastjsonschema==2.16.3
future==0.18.3
idna==3.4
ipaddress==1.0.23
markdown-it-py==2.2.0
mdurl==0.1.2
pycryptodomex==3.17
Pygments==2.14.0
pyzipper==0.3.6
requests==2.28.2
requests-toolbelt==0.10.1
rich==13.3.2
typing_extensions==4.5.0
urllib3==1.26.15
