certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
commonmark==0.9.1
dnacentersdk==2.4.3
fastjsonschema==2.15.3
future==0.18.2
idna==3.3
ipaddress==1.0.23
pycryptodomex==3.13.0
Pygments==2.11.2
pyzipper==0.3.5
requests==2.27.1
requests-toolbelt==0.9.1
rich==11.0.0
urllib3==1.26.8
